<% var defaultBg = '#4d4d4d'; %>
<div class="overlay" style="background: <%= theme.style && theme.style.header ? theme.style.header : defaultBg %>"></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="<%=theme.root%>" class="profilepic">
			<img src="<%=theme.avatar%>" class="js-avatar">
		</a>
		<hgroup>
		  <h1 class="header-author"><a href="<%=theme.root%>"><%=theme.author%></a></h1>
		</hgroup>
		<% if (theme.subtitle){ %>
		<p class="header-subtitle"><%=theme.subtitle%></p>
		<%}%>

		<% if(theme.spotify && theme.spotify.enable){ %>
			<br />
			<iframe src="https://open.spotify.com/embed/track/1ZNuoYIE2FHrS58sz0jxWu" 
					width="230" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
		<% } %>

		<% if(theme.cloudMusic && theme.cloudMusic.enable){ %>
			<br />
			<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=244 height=86 
					src="//music.163.com/outchain/player?type=2&id=4900975&auto=0&height=66"></iframe> -->
			<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=244 height=86 
			src="//music.163.com/outchain/player?type=2&id=444356294&auto=0&height=66"></iframe>
		<% } %>

		<% if(theme.aplayer && theme.aplayer.enable){ %>
			<br />
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
			<div id="aplayer"></div>
			<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
			<!-- <meting-js
				server="netease"
				type="song"
				id="444356294">
			</meting-js> -->
			<script>
			  const ap = new APlayer({
				container: document.getElementById('aplayer'),
					audio: [{
					name: '一人行者',
					artist: '12th&桃核',
					url: 'http://music.163.com/song/media/outer/url?id=444356294.mp3',
					cover: 'http://p2.music.126.net/eQHiLT1iQ1VtNXa6UTreNA==/109951162816845875.jpg?param=130y130'
				}]
			  });
			</script>
		<% } %>

		<nav class="header-menu">
			<ul>
			<% for (var i in theme.menu){ %>
				<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
	        <%}%>
			</ul>
		</nav>
		<nav class="header-smart-menu">
    		<% for (var i in theme.smart_menu){ %>
    			<% if(theme.smart_menu[i]){ %>
    			<a q-on="click: openSlider(e, '<%-i%>')" href="javascript:void(0)"><%= theme.smart_menu[i] %></a>
    			<% } %>
            <%}%>
		</nav>
		<nav class="header-nav">
			<div class="social">
				<% for (var i in theme.subnav){ %>
					<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><i class="icon-<%= i %>"></i></a>
		        <%}%>
			</div>
		</nav>
	</header>		
</div>
